In [1]:
import pandas as pd

# Load the datasets
no_sp_df = pd.read_csv('../log/tmplog_finalTest2_noSP.csv')
sp_df = pd.read_csv('../log/tmplog_finalTest2.csv')

# Display the first few rows of each DataFrame to understand the structure
no_sp_df.head(), sp_df.head()

(                       flow id:  first send:  last send:  last arrive:  \
 0  11:0:11 11:0:41 10099 100 17     2.003913  238.207726    238.215302
 1  11:0:11 11:0:41 10097 100 17     2.003863  146.943222    146.962250
 2  11:0:11 11:0:41 10096 100 17     2.003838  355.220521    355.224291
 3  11:0:11 11:0:41 10093 100 17     2.003762  154.667854    154.683893
 4  11:0:11 11:0:41 10092 100 17     2.003737  140.329695    140.347899

    send num:  receive num        FCT:  origin_pg:
 0     941653       941788  236.211390           3
 1      90268        90315  144.958387           3
 2    5495854      5496064  353.220453           3
 3     149487       149539  152.680132           3
 4      57470        57487  138.344162           3  ,
                        flow id:  first send:  last send:  last arrive:  \
 0  11:0:11 11:0:41 10099 100 17     2.003913  235.726320    235.735081
 1  11:0:11 11:0:41 10097 100 17     2.003863  142.237742    142.256207
 2  11:0:11 11:0:41 10096 100 17     2.003838  353.086782    353.090094
 3  11:0:11 11:0:41 10093 100 17     2.003762  150.136419    150.153470
 4  11:0:11 11:0:41 10092 100 17     2.003737  140.669844    140.687886

    send num:  receive num        FCT:  origin_pg:
 0     924260       924395  233.731168           3
 1      83799        83833  140.252345           3
 2    5461014      5461221  351.086255           3
 3     141049       141104  148.149708           3
 4      58049        58067  138.684149           3  )

In [2]:
# Merge the datasets on 'flow id:' column
merged_df = pd.merge(no_sp_df, sp_df, on='flow id:', suffixes=('_no_sp', '_sp'))

# Calculate FCT change and percentage change
merged_df['FCT Change'] = merged_df['FCT:_sp'] - merged_df['FCT:_no_sp']
merged_df['FCT % Change'] = (merged_df['FCT Change'] / merged_df['FCT:_no_sp']) * 100

# Display the new dataframe with changes
merged_df[['flow id:', 'FCT:_no_sp', 'FCT:_sp', 'FCT Change', 'FCT % Change']].head()

,flow id:,FCT:_no_sp,FCT:_sp,FCT Change,FCT % Change
0,11:0:11 11:0:41 10099 100 17,236.211390,233.731168,-2.480222,-1.050001
1,11:0:11 11:0:41 10097 100 17,144.958387,140.252345,-4.706042,-3.246478
2,11:0:11 11:0:41 10096 100 17,353.220453,351.086255,-2.134198,-0.604211
3,11:0:11 11:0:41 10093 100 17,152.680132,148.149708,-4.530424,-2.967265
4,11:0:11 11:0:41 10092 100 17,138.344162,138.684149,0.339987,0.245754

In [3]:
merged_df

,flow id:,first send:_no_sp,last send:_no_sp,last arrive:_no_sp,send num:_no_sp,receive num_no_sp,FCT:_no_sp,origin_pg:_no_sp,first send:_sp,last send:_sp,last arrive:_sp,send num:_sp,receive num_sp,FCT:_sp,origin_pg:_sp,FCT Change,FCT % Change
0,11:0:11 11:0:41 10099 100 17,2.003913,238.207726,238.215302,941653,941788,236.211390,3,2.003913,235.726320,235.735081,924260,924395,233.731168,3,-2.480222,-1.050001
1,11:0:11 11:0:41 10097 100 17,2.003863,146.943222,146.962250,90268,90315,144.958387,3,2.003863,142.237742,142.256207,83799,83833,140.252345,3,-4.706042,-3.246478
2,11:0:11 11:0:41 10096 100 17,2.003838,355.220521,355.224291,5495854,5496064,353.220453,3,2.003838,353.086782,353.090094,5461014,5461221,351.086255,3,-2.134198,-0.604211
3,11:0:11 11:0:41 10093 100 17,2.003762,154.667854,154.683893,149487,149539,152.680132,3,2.003762,150.136419,150.153470,141049,141104,148.149708,3,-4.530424,-2.967265
4,11:0:11 11:0:41 10092 100 17,2.003737,140.329695,140.347899,57470,57487,138.344162,3,2.003737,140.669844,140.687886,58049,58067,138.684149,3,0.339987,0.245754
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,11:0:31 11:0:41 10053 100 17,2.001550,134.262219,134.262341,264552,264554,132.260791,2,2.001550,140.754664,140.773419,276499,276573,138.771869,2,6.511078,4.922909
296,11:0:31 11:0:41 10054 100 17,2.001594,154.935664,154.935943,618878,618882,152.934350,2,2.001594,218.547536,218.556867,898049,898185,216.555273,2,63.620924,41.600153
297,11:0:31 11:0:41 10008 100 17,2.000225,127.380060,127.380289,2211,2211,125.380064,1,2.000225,127.367751,127.384963,2211,2211,125.384738,1,0.004674,0.003728
298,11:0:31 11:0:41 10058 100 17,2.002083,115.815883,115.835501,122909,122955,113.833418,3,2.002083,113.785514,113.805169,119843,119874,111.803086,3,-2.030332,-1.783599
299,11:0:31 11:0:41 10057 100 17,2.002058,419.067329,419.069124,9632433,9632782,417.067066,3,2.002058,414.930635,414.932730,9431789,9432133,412.930672,3,-4.136394,-0.991781

In [4]:
# Group by origin priority group and calculate the required statistics
group_stats = merged_df.groupby('origin_pg:_no_sp').agg(
    FCT_Total_No_SP=pd.NamedAgg(column='FCT:_no_sp', aggfunc='sum'),
    FCT_Total_SP=pd.NamedAgg(column='FCT:_sp', aggfunc='sum'),
    Total_FCT_Change=pd.NamedAgg(column='FCT Change', aggfunc='sum'),
    Mean_FCT_Change=pd.NamedAgg(column='FCT Change', aggfunc='mean'),
    Count_FCT_Decrease=pd.NamedAgg(column='FCT Change', aggfunc=lambda x: (x < 0).sum()),
    Total_Flows=pd.NamedAgg(column='FCT Change', aggfunc='size')
)

# Calculate percentage of flows with decreased FCT
group_stats['Percentage_FCT_Decrease'] = (group_stats['Count_FCT_Decrease'] / group_stats['Total_Flows']) * 100

# Display the summarized statistics
group_stats.reset_index()

,origin_pg:_no_sp,FCT_Total_No_SP,FCT_Total_SP,Total_FCT_Change,Mean_FCT_Change,Count_FCT_Decrease,Total_Flows,Percentage_FCT_Decrease
0,1,15476.265603,15490.317880,14.052277,0.104091,10,135,7.407407
1,2,19707.626266,20536.069648,828.443381,27.614779,6,30,20.000000
2,3,61568.272238,61268.012142,-300.260096,-2.224149,121,135,89.629630