In [1]:
import pandas as pd

# Load the datasets
no_sp_df = pd.read_csv('../log/tmplog_finalTest3.csv')
sp_df = pd.read_csv('../log/tmplog_finalTest3_SP.csv')

# Display the first few rows of each DataFrame to understand the structure
no_sp_df.head(), sp_df.head()

(                       flow id:  first send:  last send:  last arrive:  \
 0  11:0:11 11:0:41 10099 100 17     2.000007  126.136904    126.136906
 1  11:0:11 11:0:41 10097 100 17     2.000007  114.456134    114.456136
 2  11:0:11 11:0:41 10096 100 17     2.000007  161.430436    161.430438
 3  11:0:11 11:0:41 10093 100 17     2.000006  110.462088    110.462091
 4  11:0:11 11:0:41 10092 100 17     2.000006  127.215713    127.215715

    send num:  receive num        FCT:  origin_pg:  transfer delay:
 0     468832       468832  124.136900           3                0
 1      56787        56787  112.456129           3                0
 2    2669567      2669567  159.430431           3                0
 3      92448        92448  108.462085           3                0
 4      52165        52165  125.215708           3                0  ,
                        flow id:  first send:  last send:  last arrive:  \
 0  11:0:11 11:0:41 10099 100 17     2.000007  126.136904    126.136906
 1  11:0:11 11:0:41 10097 100 17     2.000007  114.456134    114.456136
 2  11:0:11 11:0:41 10096 100 17     2.000007  161.430436    161.430438
 3  11:0:11 11:0:41 10093 100 17     2.000006  110.462088    110.462091
 4  11:0:11 11:0:41 10092 100 17     2.000006  127.215713    127.215715

    send num:  receive num        FCT:  origin_pg:  transfer delay:
 0     468832       468832  124.136900           3                0
 1      56787        56787  112.456129           3                0
 2    2669567      2669567  159.430431           3                0
 3      92448        92448  108.462085           3                0
 4      52165        52165  125.215708           3                0  )

In [2]:
# Merge the datasets on 'flow id:' column
merged_df = pd.merge(no_sp_df, sp_df, on='flow id:', suffixes=('_no_sp', '_sp'))

# Calculate FCT change and percentage change
merged_df['FCT Change'] = merged_df['FCT:_sp'] - merged_df['FCT:_no_sp']
merged_df['FCT % Change'] = (merged_df['FCT Change'] / merged_df['FCT:_no_sp']) * 100

# Display the new dataframe with changes
merged_df[['flow id:', 'FCT:_no_sp', 'FCT:_sp', 'FCT Change', 'FCT % Change']].head()

,flow id:,FCT:_no_sp,FCT:_sp,FCT Change,FCT % Change
0,11:0:11 11:0:41 10099 100 17,124.136900,124.136900,0.0,0.0
1,11:0:11 11:0:41 10097 100 17,112.456129,112.456129,0.0,0.0
2,11:0:11 11:0:41 10096 100 17,159.430431,159.430431,0.0,0.0
3,11:0:11 11:0:41 10093 100 17,108.462085,108.462085,0.0,0.0
4,11:0:11 11:0:41 10092 100 17,125.215708,125.215708,0.0,0.0

In [3]:
merged_df

,flow id:,first send:_no_sp,last send:_no_sp,last arrive:_no_sp,send num:_no_sp,receive num_no_sp,FCT:_no_sp,origin_pg:_no_sp,transfer delay:_no_sp,first send:_sp,last send:_sp,last arrive:_sp,send num:_sp,receive num_sp,FCT:_sp,origin_pg:_sp,transfer delay:_sp,FCT Change,FCT % Change
0,11:0:11 11:0:41 10099 100 17,2.000007,126.136904,126.136906,468832,468832,124.136900,3,0,2.000007,126.136904,126.136906,468832,468832,124.136900,3,0,0.0,0.0
1,11:0:11 11:0:41 10097 100 17,2.000007,114.456134,114.456136,56787,56787,112.456129,3,0,2.000007,114.456134,114.456136,56787,56787,112.456129,3,0,0.0,0.0
2,11:0:11 11:0:41 10096 100 17,2.000007,161.430436,161.430438,2669567,2669567,159.430431,3,0,2.000007,161.430436,161.430438,2669567,2669567,159.430431,3,0,0.0,0.0
3,11:0:11 11:0:41 10093 100 17,2.000006,110.462088,110.462091,92448,92448,108.462085,3,0,2.000006,110.462088,110.462091,92448,92448,108.462085,3,0,0.0,0.0
4,11:0:11 11:0:41 10092 100 17,2.000006,127.215713,127.215715,52165,52165,125.215708,3,0,2.000006,127.215713,127.215715,52165,52165,125.215708,3,0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,11:0:31 11:0:41 10053 100 17,2.000003,131.020764,131.020766,258051,258051,129.020763,2,0,2.000003,131.020764,131.020766,258051,258051,129.020763,2,0,0.0,0.0
296,11:0:31 11:0:41 10054 100 17,2.000003,149.018009,149.018011,592378,592378,147.018009,2,0,2.000003,149.018009,149.018011,592378,592378,147.018009,2,0,0.0,0.0
297,11:0:31 11:0:41 10008 100 17,2.000000,127.344546,127.344549,2211,2211,125.344548,1,0,2.000000,127.344546,127.344549,2211,2211,125.344548,1,0,0.0,0.0
298,11:0:31 11:0:41 10058 100 17,2.000003,105.683291,105.683294,113836,113836,103.683291,3,0,2.000003,105.683291,105.683294,113836,113836,103.683291,3,0,0.0,0.0
299,11:0:31 11:0:41 10057 100 17,2.000003,84.550944,84.550946,855711,855711,82.550943,3,0,2.000003,84.550944,84.550946,855711,855711,82.550943,3,0,0.0,0.0

In [4]:
# Group by origin priority group and calculate the required statistics
group_stats = merged_df.groupby('origin_pg:_no_sp').agg(
    FCT_Total_No_SP=pd.NamedAgg(column='FCT:_no_sp', aggfunc='sum'),
    FCT_Total_SP=pd.NamedAgg(column='FCT:_sp', aggfunc='sum'),
    Total_FCT_Change=pd.NamedAgg(column='FCT Change', aggfunc='sum'),
    Mean_FCT_Change=pd.NamedAgg(column='FCT Change', aggfunc='mean'),
    Count_FCT_Decrease=pd.NamedAgg(column='FCT Change', aggfunc=lambda x: (x <= 0.0).sum()),
    Total_Flows=pd.NamedAgg(column='FCT Change', aggfunc='size')
)

# Calculate percentage of flows with decreased FCT
group_stats['Percentage_FCT_Decrease'] = (group_stats['Count_FCT_Decrease'] / group_stats['Total_Flows']) * 100

# Display the summarized statistics
group_stats.reset_index()

,origin_pg:_no_sp,FCT_Total_No_SP,FCT_Total_SP,Total_FCT_Change,Mean_FCT_Change,Count_FCT_Decrease,Total_Flows,Percentage_FCT_Decrease
0,1,15470.193668,15470.193668,0.0,0.0,135,135,100.0
1,2,19591.742684,19591.742684,0.0,0.0,30,30,100.0
2,3,41558.539313,41558.539313,0.0,0.0,135,135,100.0

In [5]:
merged_df.to_csv("./result.csv")

In [6]:
#0 	1 	15470.217402 	15470.217336 	-0.000066 	-4.888741e-07 	1 	135 	0.740741

In [7]:
# in 40Mpbs some high pg flows' fct has increase as follow: 
    # 131,11:0:21 11:0:41 10020 100 17,2.00055418,125.34508296,125.364080097,2083,2086,123.363525917,1,0,2.00055418,125.366682448,125.366845447,2086,2086,123.366291267,1,0,0.0027653499999900077,0.002241626914790485
        # use high_60 replace high_61
    # 156,11:0:21 11:0:41 10004 100 17,2.000111196,113.565199616,113.58213076,1627,1629,111.582019564,1,0,2.000111196,113.610388046,113.610699046,1629,1629,111.61058785,1,0,0.02856828599999517,0.02560294760000224
        # use high_12 replace high_13
    # 183,11:0:21 11:0:41 10040 100 17,2.001132561,120.484628618,120.506937341,1108,1111,118.50580478,1,0,2.001132561,120.556739024,120.557038222,1113,1114,118.555905661,1,0,0.05010088099999166,0.04227715350568809
        # use high_120 replace high_121
    # 180,11:0:21 11:0:41 10029 100 17,2.000844572,121.428252899,121.447419428,1951,1951,119.446574856,1,0,2.000844572,121.44740644,121.447481839,1951,1951,119.446637267,1,0,6.241100000181632e-05,5.225013783530965e-05
        # use high_87 replace high_88   
    # 256,11:0:31 11:0:41 10022 100 17,2.000626577,123.632155519,123.651544052,2069,2082,121.650917475,1,0,2.000626577,123.653212468,123.653460069,2069,2069,121.652833492,1,0,0.001916016999999215,0.0015750123712737045
        # use high_67 replace high_68       
    # 50,11:0:11 11:0:41 10020 100 17,2.00054058,124.004466398,124.021815529,2071,2075,122.021274949,1,0,2.00054058,124.023811895,124.023887895,2071,2071,122.023347315,1,0,0.0020723659999930533,0.0016983644867333333
        # use high_59 replace high_60
        # use high_60 replace high_61